@import "modern-normalize.css";

:root {
  --white: #f2f4f3;
  --black: #191919;
  --purple: #7261a3;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: var(--black);
  color: var(--white);
  height: 4rem;
}

main {
  margin: auto;
  max-width: 900px;
}

footer {
  background-color: var(--black);
  color: var(--white);
  height: 2rem;
}

.home {
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 5rem;
  }

  img {
    flex: 1;
    max-width: 1px;
    border-radius: 25px;
    margin-bottom: 3rem;
  }

  p {
    width: 55ch;
    line-height: 1.4rem;
    margin: 0.25rem 0rem;
  }
}
