@import "modern-normalize.css";

:root {
  --white: #f2f4f3;
  --black: #191919;
  --purple: #7261a3;
  --mainWidth: 900px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: var(--black);
  color: var(--white);
  height: 4rem;
}

main {
  margin: auto;
  max-width: var(--mainWidth);
}

footer {
  background-color: var(--black);
  color: var(--white);
  height: 2rem;
}

.home {
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 5rem;
    margin: 0rem 0rem 5rem 0rem;
  }

  div.img {
    display: flex;
    max-width: var(--mainWidth);
  }

  div > img {
    min-width: 0;
    flex: 1 1 auto;
    border-radius: 50px;
    /* border: #191919 3px solid; */
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  p {
    width: 55ch;
    line-height: 1.4rem;
    margin: 0.25rem 0rem;
  }

  /* .description {
    border: solid black 2px;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  } */
}
